#root {
  font-family: "Quicksand", sans-serif;
}

.submit-btn {
  background-color: var(--primary-color) !important;
  border: var(--primary-color) !important;
  border-radius: 2px !important;
  letter-spacing: 2px;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  /* font-size: 1em; */
  padding: 0.5rem 1rem !important;
  color: white !important;
}

.submit-btn:hover,
.default-btn:hover {
  background-color: #20b35d !important;
}
/* HEADER */

#project-title {
  font-weight: 1000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1001;
}

#left-face {
  background-color: #ffffff00; /*independent color*/
  color: var(--primary-color);
}

#right-face {
  background-color: white;
}

/* SIDEBAR */
#sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;
  background-color: var(--secondary-color);
  /* color: #2a2a48; */
}

#side-heading {
  color: white;
  text-transform: uppercase;
}

#sidenav-sticky {
  position: sticky;
  top: 77.6px;
  height: calc(100vh - 77.6px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link {
  color: white;
}

.nav-link > svg > path {
  stroke: currentColor;
}

.active {
  color: var(--primary-color);
}

/* MAIN */
/* Health-calculator */

#calculator-content {
  padding: 2rem;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 1.4em;
}

.sub-title {
  font-size: 1.4em;
}

/* TRACKER */
/* .calorie-bucket {
  font-size: 1.8rem;
} */

.calorie-bucket > span {
  color: #2a2a48;
}

.meal-card {
  border: 2px solid #e9e9f3;
}
.accordion-button {
  border: 0;
  outline: 0;
  background-color: transparent;
  /* background-color: #e9e9f3; */
}
.accordion-header > button {
  color: var(--secondary-color);
  font-weight: 600;
}

.accordion-body {
  height: 180px;
  min-height: 150px;
  overflow-y: scroll;
}

.list-group-item {
  padding-left: 0;
  padding: 0.5rem;
}

.result > div > span {
  font-size: 1.2em;
}

.result-item {
  border-left: 5px solid var(--primary-color) !important;
}

.card {
  border-radius: 0px !important;
}

.food-item {
  border-left: 3px solid var(--primary-color) !important;
  text-transform: capitalize;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.food-item:hover,
.result-item:hover {
  transform: scale(1.005);
  transition: 0.3s;
  background-color: var(--btn-hvr-secondary-color) !important;
  color: white;
}

.delete-icon:hover {
  color: var(--btn-hvr-del-color) !important;
  cursor: pointer;
}

.default-btn {
  background-color: var(--primary-color) !important;
  border: var(--primary-color) !important;
  border-radius: 2px !important;
  letter-spacing: 6px;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 1em !important;
  padding: 1rem 3rem 1rem 3rem !important;
  color: white !important;
}

/* botton section of css file */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand:wght@500&display=swap");

@media screen and (max-width: 991.98px) {
  #main {
    padding: 0px;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #sidenav {
    position: relative;
  }

  #sidenav-sticky {
    height: auto;
  }

  #calculator-content {
    padding: 0;
  }

  html {
    font-size: 10px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
